#main-container{
	width: 100%;
		video{
		//height: 200px;
		width: 400px;
	}

	.flex-box{
		display: flex;
		justify-content: center;
		
		#main-contents{
			//margin: 0 auto;
			//width: 100px;
			.image-btn-box{
				display: flex;
				justify-content: center;
				align-items: center;


				.completion-btn{
					width: 400px;
					margin: 0 auto;
					text-align: center;
					

					.button{
						display: inline-block;
						text-align: center;
						border: none;
						border-radius: 10px;
						width: 200px;
						height: 40px;
						font-size: 20px;
						color: white;
						background-color: rgb(235, 88, 55);
					}
					.clear{
						cursor: pointer;
					}
				}
			}

			#curriculum{
				.classes{
					display: flex;
					justify-content: center;
					background-color: aqua;
					color: white;
					border: 1px solid rgb(173, 211, 211);
					border-radius: 10px;
					width: 130px;
					height: 30px;
					align-items: center;
				}
				.title{
					font-size: 30px;
					margin: 20px 0 10px;
				}
				h4{
					margin: 0 0 30px;
				}
			}
		}
	}
}