body{
  margin: 0;
  padding: 0;
  list-style: none;
}

main{
  .container{
    margin: 0 auto;
    width: 100%;

    .text-md-end {
      text-align: right!important;
    }

    .col-form-label{
      display: inline-block;
      width: 100%;
      text-align: right;
      margin-right: 10px;
      color: rgb(174, 174, 174);
    }

    .form-control{
      width: 500px;
      color: rgb(174, 174, 174);
      border: 1px solid rgb(174, 174, 174);
      border-radius: 5px;
    }

    .row{
      display: flex;
      margin-top: 15px;
    }

    .justify-content-center{
      //border: 1px solid red;
      //margin: 0 auto;
      text-align: center;
      justify-content: center;
      //width: 500px;
    }

    .card{
      .card-header{
        font-weight: normal;
        font-size: 40px;
        color: rgb(174, 174, 174);
      }

      .card-body{
        margin-top: 50px;
      }
    }

    .offset-md-4{
      margin-top: 50px;
      .btn{
        width: 100px;
        height: 40px;
        cursor: pointer;
        color: white;
        font-size: 20px;
        background-color: rgb(235, 88, 55);
      }
    }
  }
}